.form {
  width: 100%;
  /* width: 80vw;
  max-width: 800px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow:  10px 10px 20px #b3b3b3,
              -10px -10px 20px #ffffff;
}

.form form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
  /* width: 80vw;
  min-width: 300px;
  max-width: 800px; */
}

.input input, .button {
  border-radius: 5px;
  border: 1px solid #222;
  background-color: #fff;
  color: #222;
  padding: 10px;
}

.button {
  margin: 20px auto;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  width: 80%;
}

.button:hover {
  background-color: lightcoral;
  color: white;
}

.input label {
  align-items: center;
  text-align: center;
}
