.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

.navbar {
  position: sticky;
  top: 0;
  margin: 0;
  background: #e0e0e0;
  z-index: 2;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button {
  box-shadow:  3px 3px 6px #b3b3b3,
              -3px -3px 6px #fff;
}

.button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
}

.box {
  width: 100%;
  border-radius: 20px;
  padding: 1.5rem;
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #b3b3b3,
              -10px -10px 20px #ffffff;
}

.card img, .box img {
  object-fit: contain;
  width: 100%;
  height: 150px;
  mix-blend-mode: multiply;
}

.shadow {
  box-shadow: inset 6px 6px 10px #b3b3b3,
              inset -6px -6px 10px #fff;
  border-radius: 20px;
}

.cardShadow {
  box-shadow:  10px 10px 20px #b3b3b3,
              -10px -10px 20px #ffffff;
  margin: 1rem 0.5rem;
  text-align: left;
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.card {
  margin: 0;
  padding: 0;
  text-align: left;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: transparent;
  cursor: pointer; 
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip .cardInner {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  background: #e0e0e0;
  border-radius: 10px;
  margin: 0; 
  box-shadow: none; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.cardBack {
  transform: rotateY(180deg);
}

.avatar {
  height: 150px;
  width: 150px; 
  margin: 0.5rem; 
  border-radius: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
